/**
 * This file was auto-generated by Fern from our API Definition.
 */

import { ImdbApi } from "../../../..";
import urlJoin from "url-join";
import * as core from "../../../../core";
import * as serializers from "../../../../serialization";
import * as errors from "../../../../errors";

export declare namespace Client {
  interface Options {
    environment: string;
  }
}

export class Client {
  constructor(private readonly options: Client.Options) {}

  /**
   * @throws {ImdbApi.MovieDoesNotExistError}
   */
  public async getMovie(movieId: ImdbApi.MovieId): Promise<ImdbApi.Movie> {
    const _response = await core.fetcher({
      url: urlJoin(this.options.environment, `/movies/${movieId}`),
      method: "GET",
    });
    if (_response.ok) {
      return await serializers.Movie.parse(
        _response.body as serializers.Movie.Raw
      );
    }

    if (_response.error.reason === "status-code") {
      switch ((_response.error.body as any)?.["error"]) {
        case "MovieDoesNotExistError":
          throw new ImdbApi.MovieDoesNotExistError(
            await serializers.MovieDoesNotExistError.parse(
              _response.error.body as serializers.MovieDoesNotExistError.Raw
            )
          );
        default:
          throw new errors.ImdbApiError({
            statusCode: _response.error.statusCode,
            responseBody: _response.error.rawBody,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ImdbApiError({
          statusCode: _response.error.statusCode,
          responseBody: _response.error.rawBody,
        });
      case "timeout":
        throw new errors.ImdbApiTimeoutError();
      case "unknown":
        throw new errors.ImdbApiError({
          message: _response.error.errorMessage,
        });
    }
  }
}
