name: "Fern"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  fern-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Fern CLI
        uses: fern-api/setup-fern-cli@v1
      - name: fern check
        run: fern check
      - name: Verify generated code is up to date
        run: |
          fern generate
          git --no-pager diff --exit-code
        env:
          FERN_TOKEN: dummy
